<% include ../partials/header %>

<div class="container">
  <div class="row">
    <h1>user votes</h1>
    <div class="header">
      <h1>Votes create by user: <%= user.username %></h1>
      <a href="/votes/new">Create New Poll</a>
    </div>
    <% voting.map(d=>{  %>
    <div class="panel panel-default">
      <div class="panel-body">
        Title: <%= d.options.title %>  - <em>created by <strong><%= d.user  %></strong></em>

          <a href="/votes/<%= d._id %>/delete"><button class='pull-right btn btn-danger'>Delete</button></a>
          <a href="/votes/<%= d._id %>"><button class='pull-right btn btn-primary'>Vote</button></a>

      </div>
    </div>
    <%  }) %>
  </div>
</div>
